<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User by HaoLN</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        #id {
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <ul>
            <li><a href="/">Danh sách</a></li>
            <li><a href="/create">Thêm mới</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a href="#about">About</a></li>
        </ul>
    </div>
    <%= JSON.stringify(userEdit) %>
    <div class="form">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Delete CRUD</legend>
                <div class="input-group">
                    <label for="id">Mã nhân viên:</label>
                    <input type="text" id="id" name="idnv" value="<%= userEdit.id %>" readonly>
                </div>
                <div class="input-group">
                    <label for="name">Tên:</label>
                    <input type="text" id="name" name="myname" value="<%=userEdit.name %>">
                </div>
                <input type="submit" value="Confirm">
            </fieldset>
        </form>
    </div>

</body>

</html>