@font-face {
    font-family: 'icomoon';
    src: url('../font-icon/icomoon.eot?5w3fn3');
    src: url('../font-icon/icomoon.eot?5w3fn3#iefix') format('embedded-opentype'), url('../font-icon/icomoon.ttf?5w3fn3') format('truetype'), url('../font-icon/icomoon.woff?5w3fn3') format('woff'), url('../font-icon/icomoon.svg?5w3fn3#icomoon') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class^="iconui-"],
[class*=" iconui-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
}

.iconui-01:before {
    content: "\e900"
}

.iconui-02:before {
    content: "\e901"
}

.iconui-03:before {
    content: "\e902"
}

.iconui-04:before {
    content: "\e903"
}

.iconui-05:before {
    content: "\e904"
}

.iconui-06:before {
    content: "\e905"
}

.iconui-07:before {
    content: "\e906"
}

.iconui-08:before {
    content: "\e907"
}

.iconui-09:before {
    content: "\e908"
}

.iconui-10:before {
    content: "\e909"
}

.iconui-11:before {
    content: "\e90a"
}

.iconui-12:before {
    content: "\e90b"
}

.iconui-13:before {
    content: "\e90c"
}

.iconui-14:before {
    content: "\e90d"
}

.iconui-15:before {
    content: "\e90e"
}

.iconui-16:before {
    content: "\e90f"
}

.iconui-17:before {
    content: "\e910"
}

.iconui-18:before {
    content: "\e911"
}

.iconui-19:before {
    content: "\e912"
}

.iconui-20:before {
    content: "\e913"
}

.iconui-21:before {
    content: "\e914"
}

.iconui-22:before {
    content: "\e915"
}

.iconui-23:before {
    content: "\e916"
}

.iconui-24:before {
    content: "\e917"
}

.iconui-25:before {
    content: "\e918"
}

.iconui-26:before {
    content: "\e919"
}

.iconui-27:before {
    content: "\e91a"
}

.iconui-28:before {
    content: "\e91b"
}

.iconui-29:before {
    content: "\e91c"
}

.iconui-30:before {
    content: "\e91d"
}

.iconui-31:before {
    content: "\e91e"
}

.iconui-32:before {
    content: "\e91f"
}

.iconui-33:before {
    content: "\e920"
}

.iconui-34:before {
    content: "\e921"
}

.iconui-35:before {
    content: "\e922"
}

.iconui-36:before {
    content: "\e923"
}

.iconui-37:before {
    content: "\e924"
}

.iconui-38:before {
    content: "\e925"
}

.iconui-39:before {
    content: "\e926"
}

.iconui-40:before {
    content: "\e927"
}

.iconui-41:before {
    content: "\e928"
}

.iconui-42:before {
    content: "\e929"
}

.iconui-43:before {
    content: "\e92a"
}

.iconui-44:before {
    content: "\e92b"
}

.iconui-45:before {
    content: "\e92c"
}

.iconui-46:before {
    content: "\e92d"
}

.iconui-47:before {
    content: "\e92e"
}

.iconui-48:before {
    content: "\e92f"
}

.iconui-49:before {
    content: "\e930"
}

.iconui-50:before {
    content: "\e931"
}

.iconui-dot:before {
    content: "\e932"
}

.iconui-dots:before {
    content: "\e933"
}

.iconui-alert-triangle-warning:before {
    content: "\e934"
}

.iconui-anchor:before {
    content: "\e935"
}

.iconui-angle-arrow-back:before {
    content: "\e936"
}

.iconui-angle-arrow-forward-right:before {
    content: "\e937"
}

.iconui-announcement:before {
    content: "\e938"
}

.iconui-archive-box:before {
    content: "\e939"
}

.iconui-archive:before {
    content: "\e93a"
}

.iconui-arrow-down:before {
    content: "\e93b"
}

.iconui-arrow-left:before {
    content: "\e93c"
}

.iconui-arrow-right:before {
    content: "\e93d"
}

.iconui-arrow-up:before {
    content: "\e93e"
}

.iconui-ban-block-circle:before {
    content: "\e93f"
}

.iconui-bar-chart:before {
    content: "\e940"
}

.iconui-basketball-dribbble:before {
    content: "\e941"
}

.iconui-batter-1-bar:before {
    content: "\e942"
}

.iconui-batter-empty:before {
    content: "\e943"
}

.iconui-battery-2-bars:before {
    content: "\e944"
}

.iconui-battery-full:before {
    content: "\e945"
}

.iconui-bluetooth:before {
    content: "\e946"
}

.iconui-bold:before {
    content: "\e947"
}

.iconui-bookmark:before {
    content: "\e948"
}

.iconui-bookmarks:before {
    content: "\e949"
}

.iconui-briefcase-2:before {
    content: "\e94a"
}

.iconui-briefcase:before {
    content: "\e94b"
}

.iconui-browser-window-upload:before {
    content: "\e94c"
}

.iconui-browser-window:before {
    content: "\e94d"
}

.iconui-bullet-list:before {
    content: "\e94e"
}

.iconui-calendar:before {
    content: "\e94f"
}

.iconui-calendar-1:before {
    content: "\e950"
}

.iconui-cd-dvd:before {
    content: "\e951"
}

.iconui-chat-message:before {
    content: "\e952"
}

.iconui-check:before {
    content: "\e953"
}

.iconui-checkboxes:before {
    content: "\e954"
}

.iconui-chevron-down:before {
    content: "\e955"
}

.iconui-chevron-left:before {
    content: "\e956"
}

.iconui-chevron-right:before {
    content: "\e957"
}

.iconui-chevron-up:before {
    content: "\e958"
}

.iconui-circle-radio:before {
    content: "\e959"
}

.iconui-clipboard:before {
    content: "\e95a"
}

.iconui-clock:before {
    content: "\e95b"
}

.iconui-close-remove-x:before {
    content: "\e95c"
}

.iconui-cloud-download:before {
    content: "\e95d"
}

.iconui-cloud-upload:before {
    content: "\e95e"
}

.iconui-cloud:before {
    content: "\e95f"
}

.iconui-code:before {
    content: "\e960"
}

.iconui-contract-collapse:before {
    content: "\e961"
}

.iconui-contrast:before {
    content: "\e962"
}

.iconui-conversation-chat:before {
    content: "\e963"
}

.iconui-copy-files:before {
    content: "\e964"
}

.iconui-copy:before {
    content: "\e965"
}

.iconui-crop:before {
    content: "\e966"
}

.iconui-cup:before {
    content: "\e967"
}

.iconui-debit-credit-card:before {
    content: "\e968"
}

.iconui-descendants:before {
    content: "\e969"
}

.iconui-dots-grid:before {
    content: "\e96a"
}

.iconui-download:before {
    content: "\e96b"
}

.iconui-dumbell:before {
    content: "\e96c"
}

.iconui-edit-pen-file:before {
    content: "\e96d"
}

.iconui-edit-pencil:before {
    content: "\e96e"
}

.iconui-email:before {
    content: "\e96f"
}

.iconui-equalizer-settings-horizontal:before {
    content: "\e970"
}

.iconui-equalizer-settings-vertical:before {
    content: "\e971"
}

.iconui-expand:before {
    content: "\e972"
}

.iconui-external-link-open:before {
    content: "\e973"
}

.iconui-eye-visibility:before {
    content: "\e974"
}

.iconui-file-minus:before {
    content: "\e975"
}

.iconui-file-remove:before {
    content: "\e976"
}

.iconui-file:before {
    content: "\e977"
}

.iconui-flag:before {
    content: "\e978"
}

.iconui-flashlight:before {
    content: "\e979"
}

.iconui-folder-open:before {
    content: "\e97a"
}

.iconui-folder:before {
    content: "\e97b"
}

.iconui-food:before {
    content: "\e97c"
}

.iconui-fork:before {
    content: "\e97d"
}

.iconui-funnel-filter:before {
    content: "\e97e"
}

.iconui-graduation-cap:before {
    content: "\e97f"
}

.iconui-headset:before {
    content: "\e980"
}

.iconui-heart-favourite-like:before {
    content: "\e981"
}

.iconui-help-lifeline:before {
    content: "\e982"
}

.iconui-help-medic-briefcase:before {
    content: "\e983"
}

.iconui-home:before {
    content: "\e984"
}

.iconui-hourglass:before {
    content: "\e985"
}

.iconui-image:before {
    content: "\e986"
}

.iconui-images-group:before {
    content: "\e987"
}

.iconui-inbox:before {
    content: "\e988"
}

.iconui-info-circle:before {
    content: "\e989"
}

.iconui-info:before {
    content: "\e98a"
}

.iconui-internal-link-open:before {
    content: "\e98b"
}

.iconui-internet-globe:before {
    content: "\e98c"
}

.iconui-jewel:before {
    content: "\e98d"
}

.iconui-jump-arrow-left:before {
    content: "\e98e"
}

.iconui-jump-arrow-right:before {
    content: "\e98f"
}

.iconui-jump-end-left:before {
    content: "\e990"
}

.iconui-light-bulb:before {
    content: "\e991"
}

.iconui-line-chart:before {
    content: "\e992"
}

.iconui-link-break:before {
    content: "\e993"
}

.iconui-link:before {
    content: "\e994"
}

.iconui-list:before {
    content: "\e995"
}

.iconui-loop:before {
    content: "\e996"
}

.iconui-luminosity-medium:before {
    content: "\e997"
}

.iconui-luminosity-small:before {
    content: "\e998"
}

.iconui-map-indicator-navigation:before {
    content: "\e999"
}

.iconui-map-pin:before {
    content: "\e99a"
}

.iconui-map:before {
    content: "\e99b"
}

.iconui-map-1:before {
    content: "\e99c"
}

.iconui-maximize:before {
    content: "\e99d"
}

.iconui-menu-hamburger:before {
    content: "\e99e"
}

.iconui-microphone:before {
    content: "\e99f"
}

.iconui-minimze-contract:before {
    content: "\e9a0"
}

.iconui-minus:before {
    content: "\e9a1"
}

.iconui-more-options-menu-dots:before {
    content: "\e9a2"
}

.iconui-move:before {
    content: "\e9a3"
}

.iconui-music-note:before {
    content: "\e9a4"
}

.iconui-notification-bell:before {
    content: "\e9a5"
}

.iconui-padlock-locked:before {
    content: "\e9a6"
}

.iconui-padlock-open:before {
    content: "\e9a7"
}

.iconui-paint-brush:before {
    content: "\e9a8"
}

.iconui-paper-clip-attachemenet:before {
    content: "\e9a9"
}

.iconui-parallel-segments:before {
    content: "\e9aa"
}

.iconui-pause:before {
    content: "\e9ab"
}

.iconui-pc-monitor:before {
    content: "\e9ac"
}

.iconui-phone:before {
    content: "\e9ad"
}

.iconui-phone-1:before {
    content: "\e9ae"
}

.iconui-photos-camera:before {
    content: "\e9af"
}

.iconui-pie-chart:before {
    content: "\e9b0"
}

.iconui-pill:before {
    content: "\e9b1"
}

.iconui-pin:before {
    content: "\e9b2"
}

.iconui-play-games-console:before {
    content: "\e9b3"
}

.iconui-play:before {
    content: "\e9b4"
}

.iconui-plus-add:before {
    content: "\e9b5"
}

.iconui-plus-add-1:before {
    content: "\e9b6"
}

.iconui-power-turn-on-off:before {
    content: "\e9b7"
}

.iconui-print:before {
    content: "\e9b8"
}

.iconui-pulse-graph:before {
    content: "\e9b9"
}

.iconui-question-mark-circle:before {
    content: "\e9ba"
}

.iconui-refresh:before {
    content: "\e9bb"
}

.iconui-remove:before {
    content: "\e9bc"
}

.iconui-replay:before {
    content: "\e9bd"
}

.iconui-rewind-back:before {
    content: "\e9be"
}

.iconui-rewind-forward:before {
    content: "\e9bf"
}

.iconui-search:before {
    content: "\e9c0"
}

.iconui-segment:before {
    content: "\e9c1"
}

.iconui-settings-gear:before {
    content: "\e9c2"
}

.iconui-share:before {
    content: "\e9c3"
}

.iconui-shopping-bag:before {
    content: "\e9c4"
}

.iconui-shopping-bag-1:before {
    content: "\e9c5"
}

.iconui-shopping-basket:before {
    content: "\e9c6"
}

.iconui-shopping-cart:before {
    content: "\e9c7"
}

.iconui-shuffle:before {
    content: "\e9c8"
}

.iconui-space-rocket:before {
    content: "\e9c9"
}

.iconui-speedometer-guage:before {
    content: "\e9ca"
}

.iconui-spinner-loader:before {
    content: "\e9cb"
}

.iconui-star:before {
    content: "\e9cc"
}

.iconui-stop:before {
    content: "\e9cd"
}

.iconui-stopwatch:before {
    content: "\e9ce"
}

.iconui-store:before {
    content: "\e9cf"
}

.iconui-swap-switch-arrows:before {
    content: "\e9d0"
}

.iconui-swap:before {
    content: "\e9d1"
}

.iconui-syblings-connections:before {
    content: "\e9d2"
}

.iconui-tablet-large-phone:before {
    content: "\e9d3"
}

.iconui-tag-remove:before {
    content: "\e9d4"
}

.iconui-tag:before {
    content: "\e9d5"
}

.iconui-tags:before {
    content: "\e9d6"
}

.iconui-target-location-search:before {
    content: "\e9d7"
}

.iconui-text-align-center:before {
    content: "\e9d8"
}

.iconui-text-align-justify:before {
    content: "\e9d9"
}

.iconui-text-align-left:before {
    content: "\e9da"
}

.iconui-text-align-right:before {
    content: "\e9db"
}

.iconui-text-file-doc:before {
    content: "\e9dc"
}

.iconui-text-file-with-image-doc:before {
    content: "\e9dd"
}

.iconui-text-file:before {
    content: "\e9de"
}

.iconui-thick-arrow-down:before {
    content: "\e9df"
}

.iconui-thick-arrow-right:before {
    content: "\e9e0"
}

.iconui-thick-arrow-up:before {
    content: "\e9e1"
}

.iconui-thick-arrow-up-1:before {
    content: "\e9e2"
}

.iconui-thumbs-down-dislike:before {
    content: "\e9e3"
}

.iconui-thumbs-up-like:before {
    content: "\e9e4"
}

.iconui-ticket:before {
    content: "\e9e5"
}

.iconui-time:before {
    content: "\e9e6"
}

.iconui-tv-monitor:before {
    content: "\e9e7"
}

.iconui-upload:before {
    content: "\e9e8"
}

.iconui-user-id:before {
    content: "\e9e9"
}

.iconui-user-profile:before {
    content: "\e9ea"
}

.iconui-users-group:before {
    content: "\e9eb"
}

.iconui-video-camera:before {
    content: "\e9ec"
}

.iconui-view-grid:before {
    content: "\e9ed"
}

.iconui-view-list-large:before {
    content: "\e9ee"
}

.iconui-volume-loud:before {
    content: "\e9ef"
}

.iconui-volume-low:before {
    content: "\e9f0"
}

.iconui-volume-medium:before {
    content: "\e9f1"
}

.iconui-volume-off-mute:before {
    content: "\e9f2"
}

.iconui-wallet:before {
    content: "\e9f3"
}

.iconui-water-waves:before {
    content: "\e9f4"
}

.iconui-wifi-signal:before {
    content: "\e9f5"
}

.iconui-wifi-signal-1:before {
    content: "\e9f6"
}

.iconui-zoom-in:before {
    content: "\e9f7"
}

.iconui-zoom-out:before {
    content: "\e9f8"
}

i {
    color: #5E6C84;
}