<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="/css/virtual-select.min.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/danhsach.css" />
        <link rel="stylesheet" href="/css/customBootstrap.css">
        <link rel="stylesheet" href="/css/fontawesome6.css">
        <style>
            body {
                font-family: "BeVietNam Pro", sans-serif !important;
            }
        </style>
    </head>

    <body>
        <div class="header">
            <span class="header-subTitle">Quản lý tài sản</span>
            <span>-</span>
            <span class="header-mainTitle">Danh sách phiếu điều chuyển tài sản</span>
        </div>

        <div class="filter-table">
            <span class="label-filter">Loại điều chuyển</span>
            <select id="filter1" multiple name="native-select">
            </select>
            <span class="label-filter">Trạng thái </span>
            <select id="filter2" multiple name="native-select">
            </select>
        </div>
        <table id="example" class="display" style="width: 100%;">
            <thead class="title-column">
                <tr>
                    <th style="width: 12%">Mã phiếu</th>
                    <th style="width: 15%">Loại điều chuyển</th>
                    <th style="width: 20%">Trạng thái</th>
                    <th style="width: 10%">Ngày lập phiếu</th>
                    <th style="width: 4%;">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script src="/js/jquery-3.5.1.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/virtual-select.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            let filters = [{ id: '#filter1', maxWidth: '250px' }, { id: '#filter2', maxWidth: '350px' }];
            filters.forEach((filter) => {
                let options = {
                    ele: filter.id,
                    search: true,
                    placeholder: "Hiển thị tất cả",
                    hideClearButton: false,
                    searchByStartsWith: true,
                    optionsCount: 6,
                    disableSelectAll: false,
                    noSearchResultsText: 'Không tìm thấy kết quả',
                    maxWidth: filter.maxWidth,
                    updatePositionThrottle: 100,
                    allOptionsSelectedText: 'Tất cả',
                    optionSelectedText: 'tiêu chí đã chọn',
                    optionsSelectedText: 'tiêu chí đã chọn',
                    searchPlaceholderText: "Tìm kiếm",
                    silentInitialValueSet: true,
                };
                VirtualSelect.init(options);
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var table = $('#example').DataTable({
                    order: [0, 'asc'],
                    lengthChange: false,
                    language: {
                        search: '',
                        zeroRecords: "Không có dữ liệu hiển thị",
                        info: "Hiển thị _START_ - _END_ của _TOTAL_ bản ghi",
                        infoEmpty: "Không tìm thấy bản ghi nào.",
                        infoFiltered: "(Lọc từ _MAX_ bản ghi.)",
                        paginate: {
                            previous: "Trước",
                            next: "Sau",
                        },
                        searchPlaceholder: "Nhập từ khóa tìm kiếm",
                    },
                    pageLength: 10,
                    ajax: {
                        url: 'dieuchuyen/api',
                        type: 'GET',
                    },
                    columns: [
                        { data: 'ID' },
                        { data: 'TYPE' },
                        { data: 'STATUS' },
                        { data: 'EMS_DATE_CREATE' },
                        {
                            data: null,
                            className: "editor-action",
                            render: function (data, type, row) {
                                return '<button class="dt-center editor-edit" data-action="edit"><i class="fa fa-pencil icon-link"></i></button>' +
                                    '<button class="dt-center editor-delete" data-action="delete"><i class="fa fa-trash icon-link"></i></button>';
                            },
                            orderable: false
                        }
                    ],
                    deferLoading: 10,
                });

                // custom filter
                var columns = [
                    { index: 1, filter: '#filter1' },
                    { index: 2, filter: '#filter2' }
                ];
                $.each(columns, function (i, column) {
                    $(column.filter).on('change', function () {
                        var selectedValues = $(this).val();
                        if (selectedValues && selectedValues.length > 0) {
                            table.columns([column.index]).search("^" + selectedValues.join('$|^') + "$", true, false, true).draw();
                        } else {
                            table.columns([column.index]).search("").draw();
                        }
                    });
                });
            });
        </script>
    </body>

</html>